$tool-bar-color: #4F5467;
$light-color: white;
$main-bg: rgb(237, 241, 245);

html {
  background-color: $light-color;
}

.mini-toastr {
  direction: rtl;
  font-family: Iran;
}

.bg-main {
  background-color: $light-color;
}

//text color
.g-text-dates {
  color: #90A4AE;
}

.g-w-100 {
  width: 100%;
}

.g-w-75 {
  width: 75%;
}

.g-hovered {
  transition: all 0.3s ease-out;
}

.g-hovered:hover {
  cursor: pointer;
  background-color: #858aa5;
}

.input-group--text-field {
  label {

    text-align: right !important;
  }
}

%g-flex {
  display: flex;
}

html {
  flex: 0 0 auto !important;
}

.light-color {
  color: $light-color;
}

.g-toolbar {
  @extend %g-flex;
  background-color: $tool-bar-color;
}

.g-side-profiler {
  position: fixed !important;
  z-index: 100;
  //position: absolute!important;
  top: 0px;
  bottom: 0px;
  left: 0px;
}

.g-content-bg-image {
  margin-bottom: -7px !important
}

//customization
.tabs-component-panels {
  //position: relative !important;
}

.tabs-component .tabs-component-tabs {
  //padding-top: 5px;
}

.application {

  font-family: Iran !important;
  label, input {
    direction: rtl;
  }

  .input-group label {
    transform-origin: top right;
  }
  .input-group--text-field label {
    right: 0;
    left: auto !important;
  }
}

/* Trying to solve Vuetify bug */
.container {
  padding: 0px 0px 0px 0px !important;
}

.tabs__container {
  //transform: translateX(0px) !important;
}

.menu__content--select {
  direction: ltr !important;
}

.list__tile {
  direction: rtl !important;
}

.tabs__div {
  //margin: 0px !important;
}
.ceit-chip > .chip__content{
  padding: 0 0px 0 12px !important;
}
.ceit-tile .list__tile__title {
  text-align: right;
}
.iranblack{
  font-family: Iranblack !important;
}
